<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Form</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form method="post" action="/create-user"  th:object="${userDto}">
        <h4 class="text-danger" align="center">Create new Form</h4>
        <table class="table table-dark table-striped d-inline-block align-content-center">
            <div>
                <lable>First Name :</lable>
                <input type="text" th:field="*{firstName}">
            </div>
            <div th:erros="*{firstName}"></div>
            <div>
                <lable>Last Name</lable>
                <input type="text" th:field="*{lastName}">
            </div>
            <div>
                <lable>Age</lable>
                <input type="date" th:field="*{age}">
            </div>
            <div th:errors="*{age}"></div>
            <div>
                <lable>Phone</lable>
                <input type="text" th:field="*{phone}">
            </div>
            <div th:errors="*{phone}"></div>
            <div>
                <lable>Email</lable>
                <input type="text" th:field="*{email}">
            </div>
            <div th:errors="*{email}"></div>
            <div>
                <button type="submit" class="btn-primary">Send</button>
            </div>
        </table>
    </form>
</div>
</body>
</html>