<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/common/header :: script }"></th:block>
</head>
<body>
<div class="row" th:fragment="body">
</div>
<div class="row d-flex m-2">
    <div class="col-md-12 d-flex">
        <div class="col-md-3">
            <div class="card bg-warning" style="width: 18rem;">
                <img src="/img/villa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">VILLA</h5>
                    <p class="card-text">Giá</p>
                    <p class="card-text">Chi Tiết</p>
                    <a href="#" class="btn btn-dark opacity-75">Thuê Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning" style="width: 18rem;">
                <img src="/img/room.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">House</h5>
                    <p class="card-text">Giá</p>
                    <p class="card-text">Chi Tiết</p>
                    <a href="#" class="btn btn-dark opacity-75">Thuê Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning" style="width: 18rem;">
                <img src="/img/villa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Room</h5>
                    <p class="card-text">Giá</p>
                    <p class="card-text">Chi Tiết</p>
                    <a href="#" class="btn btn-dark opacity-75">Thuê Ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning" style="width: 18rem;">
                <img src="/img/villa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">VILLA</h5>
                    <p class="card-text">Giá</p>
                    <p class="card-text">Chi Tiết</p>
                    <a href="#" class="btn btn-dark opacity-75">Thuê Ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <iframe id="bd" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.491772817454!2d108.24887941416947!3d16.039950744484024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31420fdbc8cc38ef%3A0x9a6a3e31121225d2!2sFurama%20Resort%20Danang!5e0!3m2!1svi!2s!4v1661594177537!5m2!1svi!2s"
            width="650" height="450" style="border:1px;border-color: yellow" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</body>
</html>