<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/common/header :: script }"></th:block>
</head>
<body>
<div class="footer bg-dark" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="col-md-4 col-xs-12">
                    <div style="padding-bottom: 50px;">

                        <div class="footer-logo m-2" >
                            <img src="/img/FURAMA.png" width="50px; margin:10px 0">
                        </div>
                    </div>

                </div>
                <div class="col-md-5 col-xs-12 mt-1">
                    <div style="padding-bottom: 50px;">
                        <div class="footer-title text-white">
                            <h3>FURAMA RESORT</h3>
                        </div>
                        <div class="footer-content">
                            <p>
                                <i class="fa fa-map-marker"></i>
                                <span style="color: rgb(212, 163, 77);">Võ Nguyên Giáp, Ngũ Hành Sơn, Đà Nẵng</span>
                            </p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span style="color: rgb(212, 163, 77);"> Phone: 0242 242 0777</span>
                                <br>
                            </p>
                            <p>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:info@webhotel.vn" style="color: rgb(212, 163, 77);"> Email: info@webhotel.vn</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer-title">
                        <h3 style="color: rgb(212, 163, 77);">CÁC KÊNH THÔNG TIN CHÍNH THỨC</h3>
                    </div>
                    <div class="footer-links">
                        <div class="footer-links">
                            <a href="https://www.facebook.com/">
                                <i class="fa-brains fa-facebook" style="width: 30px ;height: auto"></i>
                            </a>
                            <br>
                            <a href="https://twitter.com/">
                                <i class="fa-brands fa-square-twitter" style="width: 30px ;height: auto"></i>
                            </a>
                            <br>
                            <a href="https://www.youtube.com/?gl=VN">
                                <i class="fa-brands fa-youtube text-warning" style="width: 30px ;height: auto"></i>
                            </a>
                            <br>
                            <a href="https://www.instagram.com/">
                                <i class=" fa-instagram" style="width: 30px ;height: auto"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>