<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="script">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/fontAwesome/all.min.css">
        <script src="/fontAwesome/all.min.js"></script>
        <script src="/js/jquery-3.6.1.min.js"></script>
    </th:block>

</head>
<body>
<div class="container-fluid"  th:fragment="header">
    <div class="row d-flex justify-content-center bg-opacity-100 bg-dark text-center " id="hd" >
        <div class="col-md-1 mt-1 text-end">
            <a href="#bd"><span class="fa fa-earth-asia" style="height: 50px;width: 50px"></span></a>
        </div>
        <div class="col-md-3 text-light mt-3 text-start">
            <h3>Furama Management</h3>
        </div>
        <div class="col-md-1 mt-3 ">
            <div class=" text-light hover-square ">
            <a href="/facility/list"><span class="fa fa-server hover-square"></span></a>
                Facility
            </div>
        </div>
        <div class="col-md-2 mt-3 ">
            <div class="text-light hover-square ">
                <a href="/employee"><span class="fa fa-circle-user hover-square"></span></a>
                Employee
            </div>
        </div>
        <div class="col-md-2 mt-3 ">
            <div class=" text-light hover-square ">
                <a href="/customer/list"><span class="fa fa-circle-user hover-square"></span></a>
                Customer
            </div>
        </div>
        <div class="col-md-1 mt-3 ">
            <div class="text-light hover-square">
                <a href="/contracts/list"><span class="fa fa-book-open hover-square"></span></a>
                Contact
            </div>
        </div>
        <div class="col-md-2 mt-3">
            <div class="text-light hover-square" >
                <span class="fa fa-phone"></span>
                <span class="js-phone-number">(090) 577-4661</span>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/bootstrap.min.js/" th:fragment="scr"></script>
</html>