<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="col-lg-5" style="margin: auto">
    <form class="m-3" action="/back" method="post">
        <label>id</label>
        <input type="text" name="id" class="form-control">
        <button type="submit" class="btn btn-dark">back</button>
    </form>
</div>
</body>
<script src="/js/bootstrap.min.js"></script>
</html>