<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop </title>
    <th:block th:replace="~{/common ::css}"></th:block>
</head>
<body>
<p>
    <a href="/shopping-cart" class="btn btn-primary bg-primary text-white">Your Cart</a>
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col" th:each="product:${products}">
            <div class="card" style="width: 100%; height: 100%">
                <img th:src="${product.imgLink}" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.price}"></p>
                    <p class="card-text" th:text="${product.description}"></p>
                    <a href="#" class="btn btn-primary" th:href="@{/view(id= ${product.id})}">Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>