<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop </title>
    <th:block th:replace="~{/common ::css}"></th:block>
</head>
<body>
<p>
    <a href="/shopping-cart" class="btn btn-primary bg-primary text-white">Your Cart</a>
</p>
<table class="table table-hover table-striped">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Image</td>
        <td>Add To Cart</td>
    </tr>
    <th:block th:each="product:${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><img th:src="${product.imgLink}" alt="" style="height: 100px ; width: auto"></td>
            <td><a th:href="@{/view(id= ${product.id})}">Show Detail</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>