<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/common/header :: script }"></th:block>
</head>
<body>
<div th:replace="~{/common/header :: header}"></div>
<!--<div th:replace="~{/common/carousel :: carousel}"></div>-->
<div class="container">
    <h1 class="text-center">Customer List</h1>
    <form class="d-flex m-5">
        <input class="form-control me-2" type="search" placeholder="Search customer name" aria-label="Search"
               name="name">
        <input class="form-control me-2" type="search" placeholder="Search customer type" aria-label="Search"
               name="typeCustomer">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <th><a href="/customer/formCreate"><span class="btn btn-primary text-white" id="addCus" title="Bấm Vô đây để thêm nè">Add new Customer</span></a></th>
    <table class="table table-striped text-black table-view ">
        <tr>
            <th>#</th>
            <th>Full name</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Id Card</th>
            <th>Phone Number</th>
            <th>TypeCustomer</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr th:each="customer, status : ${customerPage}">
            <td th:text="${status.count}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.dateOfBirth}"></td>
            <td th:if="${customer.gender}">Male</td>
            <td th:unless="${customer.gender}">Female</td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.typeCustomer.typeNameCustomer}"></td>
            <td th:text="${customer.address}"></td>
            <td>
                <a th:href="@{/customer/formEdit/{id}(id=${customer.id})}">
                    <span class="btn bg-primary text-white">Edit</span>
                </a>
                <button type="button" class="btn border-0 bg-danger text-white" th:onclick="|deleteCustomer(${customer.id})|"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Delete
                </button>
            </td>
        </tr>
    </table>
    <div class="row text-center">
        <div class="col-lg-12">
            <a th:href="@{/customer/list(page=${customerPage.number - 1}, name = ${keyName}, typeCustomer = ${keyTypeCustomer})}"
               th:if="${customerPage.hasPrevious()}">
                <span class="fa fa-angles-left"></span>
            </a>
            <span th:text="${customerPage.number + 1}"></span> / <span th:text="${customerPage.totalPages}"></span>
            <a th:href="@{/customer/list(page=${customerPage.number + 1}, name = ${keyName}, typeCustomer = ${keyTypeCustomer})}"
               th:if="${customerPage.hasNext()}">
                <span class="fa fa-angles-right"></span>
            </a>
        </div>
    </div>

<!--Modal delete-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/customer/delete" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete customer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" readonly class="form-control border-0" id="deleteId" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn border-0 bg-danger text-white" data-bs-dismiss="modal">Delete Now</button>
                        <button type="button" class="btn border-0 bg-primary text-white ">Back</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!--    Modal edit-->
</div>
<script>
    $( function() {
        $( "#addCus" ).title();
    } );
    function deleteCustomer(id) {
        document.getElementById("deleteId").value = id;
    }
</script>
<div th:replace="~{/common/footer :: footer}"></div>
</body>
</html>