<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/common/header :: script }"></th:block>
</head>
<body>
<div th:replace="~{/common/header :: header}"></div>
<div class="container">
    <table class="table table-dark">
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính  </th>
            <th>Số CMND </th>
            <th>Số Điện Thoại</th>
            <th>Email </th>
            <th>Loại khách</th>
            <th>Địa chỉ </th>
            <th></th>
        </tr>
    </table>
</div>
</body>
</html>